:root{
    --color-dark-magenta: hsl(300, 43%, 22%);
    --color-soft-pink: hsl(333, 80%, 67%);

    --color-dark-Gray-Magenta: hsl(303, 10%, 53%);
    --color-light-gray-Magenta: hsl(300, 24%, 96%);
    --color-white: hsl(0, 0%, 100%)
}