@import 'variables';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

p, h1, h2, h3, h4, h5, h6{
    letter-spacing: -1px;
    ::first-letter{
        text-transform: uppercase;
    }
}

h1{
    font-size: 2.1em;
    font-weight: 700;
    line-height: 1;
    color: var(--color-dark-magenta);
}

p{
    // letter-spacing: 1px;
    line-height: 1.5;
    word-spacing: 1px;
}

body{
    font-family: 'Spartan', sans-serif;
    font-size: 15px;
    background:
    url(../images/bg-pattern-top-mobile.svg) top left no-repeat,
    url(../images/bg-pattern-bottom-mobile.svg) right bottom no-repeat;
}

.flex-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 100%;
    max-width: 1112px;
    // height: 100vh; ?makes background stick to the bottom of this container rather than the (body's) full page height
    padding: 5.4em 1.6em;
}

section{
    margin-bottom: 3em;
}

.attribution{
    position: absolute;
    width: 100%;
    font-size: 11px;
    text-align: center;
    top: 1em;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

.catcher{
    text-align: center;
    max-width: 28.6em;
    p{
        margin-top: 2em;
        // padding-inline: .3em;
        font-size: 1.05em;
        font-weight: 500;
        color: var(--color-dark-Gray-Magenta);
    }
}

.ratings-container{
    flex-grow: 1;
    max-width: 540px;
}

.rating{
    min-width: 21.86em;
    max-width: 29.73em;
    height: 80px;
    margin: auto;
    margin-bottom: 1em;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;


    border-radius: 8px;
    color: var(--color-dark-magenta);
    background-color: var(--color-light-gray-Magenta);

    p{
        font-size: .9em;
        font-weight: 700;
        letter-spacing: normal;
    }
}

.rating-stars{
    margin-bottom: .5em;
    img{
        margin: 0 0 0 .4em;
    }
}

.reviews-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1em;
}

.review{
    padding: 2.53em 2.2em;
    max-width: 23.3em;
    height: 15.6em;

    border-radius: 8px;
    color: var(--color-white);
    background-color: var(--color-dark-magenta);

    .identifier{
        display: flex;
        align-items: center;
        .avatar{
            border-radius: 50%;
            width: 42px;
            height: auto;
        }
        .user-info{
            margin-left: 1.53em;
        }
    }

    .name{
        margin-bottom: .5em;
        font-size: .9em;
        letter-spacing: 0;
    }

    .review-content{
        margin-top: 2em;
        font-size: .84em;
        letter-spacing: 0;
        word-spacing: normal;
        color: var(--color-light-gray-Magenta);
    }

    .prestige{
        font-size: .9em;
        font-weight: 400;
        letter-spacing: 0;
        color: var(--color-soft-pink);
    }

}

@import 'media-queries';